.c-delivery-summary {
  height: 200px;
  margin: 0 -48px;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 40px;
    left: 0;
    right: 0;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
  }
  &__title {
    width: 100%;

    text-align: center;
  }

  &__divider {
    width: 40%;
  }

  h1.ant-typography {
    color: var(--beige);
    font-size: 40px;
    font-family: "Mirador";
    margin-bottom: 0;
  }

  &__info.ant-typography {
    color: var(--beige);
    text-align: center;
  }
}
