.c-blocks {
  &__row {
    padding: 5% 0 0 0;
  }

  &__imageContainer {
    cursor: pointer;
    background-color: var(--dark-brown);
    border-radius: 50%;
    width: 40%;
    padding: 10%;

    transition: padding 0.5s ease;
    &.second {
      background-color: var(--dark-red);
    }
  }
  &__text {
    padding-top: 24px;
  }

  &__col {
    &:hover {
      .c-blocks__imageContainer {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
        padding: 9%;
      }
    }
  }
}
