.c-blocks{
    background-color: var(--beige);
    &__row{
        padding:  5% 0 0 0;
    }

    &__imageContainer{
        background-color: var(--dark-brown);
        border-radius: 50%;
        width: 50%;
        padding: 10%;
        &.second{
            background-color: var(--dark-red);
        }
    }
    &__text{
        padding-top:24px;
    }
    &__col:hover{
        .c-blocks__imageContainer{
            width: 55%;
        }
        .c-blocks__text{
            font-size:30px;
        }
    }
      
}