.c-other-deliveries{
    background-color: var(--beige);
    border: 1px solid var(--dark-red);
    
    &__row{
        padding: 10px 0px 10px 10px;
    }
    .ant-typography{
        color: var(--dark-red);
    }
    .ant-btn-primary{
        background-color: var(--dark-beige) !important;
        width: 100%;
        margin-top: 18px;
    }
}