.c-dashboard {
  &__loading-container {
    padding-top: 10vh;
  }
  &__container {
    height: 100%;
  }
  &__tip {
    margin-top: 24px;
  }
  &__chartDescription {
    margin: 65px 0 15px;
  }
  &__axesDescription {
    text-align: center;
  }
  &__centerText {
    margin: 20px 0 0;
    text-align: center;
  }
  &__rotatedAxes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    width: 300%;
  }
}
