.c-dashboard {
  &__loading-container {
    padding-top: 10vh;
  }
  &__container {
    height: 100%;
  }
  &__tip{
    margin-top: 24px;
  }

  &__chartDescription {
    margin: 35px 0 15px;
  }
  &__axesDescription {
    text-align: center;
  }
}
