.c-delivery{
    &__container{
        padding-top: 2vh;
    }
    &__row{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
          }
    }
    &__map{
        margin-bottom:40px;
        @media (min-width: 767px) {
            margin-left:5%;
          }
         
    }
 
}

.ant-typography  h1{

    font-weight: 300;
    font-family: "Mirador";
  }