:root {
  --beige: #fbf6f1;
  --dark-red: #421616;
  --dark-brown: #2e2218;
  --light-brown: #513629;
  --box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  --dark-beige: #c6b9ad;
}

@font-face {
  font-family: "NeutraBook";
  src: url("/fonts/Neutra-Text-Book.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Mirador";
  src: url("/fonts/Mirador.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
